<label class="text">Conference/Seminar Presentations:</label>
			<div class="table-styl">
			<table class="table table-striped table-dark table-responsive-lg">
				<thead>
				  <tr>
					  <th scope="col">S.No.</th>
					  <th scope="col">Workshop</th>
					  <th scope="col">Title</th>
					  <th scope="col">Year</th>
					  <th scope="col">Year</th>
					  <th scope="col">International/National</th>
					  </tr>
				</thead>
				<tbody>
                <tr>
					<th scope="row">1</th>
                      <td><input type=“text” name=“w1“ value={{user.seminar.w1}}  </td>
					  <td><input type=“text” name=“t1“ value={{user.seminar.t1}}  </td>
						<td><input type=“text” name=“y1“ value={{user.seminar.y1}}  </td>
						<td><input type=“text” name=“i1“ value={{user.seminar.i1}}  </td>
					<td><input type=“text” name=“n1“ value={{user.seminar.n1}}  </td>
                  </tr>
				<tr>
					<th scope="row">2</th>
                      <td><input type=“text” name=“w2“ value={{user.seminar.w2}}  </td>
					  <td><input type=“text” name=“t2“ value={{user.seminar.t2}}  </td>
						<td><input type=“text” name=“y2“ value={{user.seminar.y2}}  </td>
						<td><input type=“text” name=“i2“ value={{user.seminar.i2}}  </td>
					<td><input type=“text” name=“n2“ value={{user.seminar.n2}}  </td>
                  </tr>
				<tr>
   <th scope="row">3</th>
                  <td><input type=“text” name=“w3“ value={{user.seminar.w3}}  </td>
     <td><input type=“text” name=“t3“ value={{user.seminar.t3}}  </td>
      <td><input type=“text” name=“y3“ value={{user.seminar.y3}}  </td>
      <td><input type=“text” name=“i3“ value={{user.seminar.i3}}  </td>
   <td><input type=“text” name=“n3“ value={{user.seminar.n3}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">4</th>
                  <td><input type=“text” name=“w4“ value={{user.seminar.w4}}  </td>
     <td><input type=“text” name=“t4“ value={{user.seminar.t4}}  </td>
      <td><input type=“text” name=“y4“ value={{user.seminar.y4}}  </td>
      <td><input type=“text” name=“i4“ value={{user.seminar.i4}}  </td>
   <td><input type=“text” name=“n4“ value={{user.seminar.n4}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">5</th>
                  <td><input type=“text” name=“w5“ value={{user.seminar.w5}}  </td>
     <td><input type=“text” name=“t5“ value={{user.seminar.t5}}  </td>
      <td><input type=“text” name=“y5“ value={{user.seminar.y5}}  </td>
      <td><input type=“text” name=“i5“ value={{user.seminar.i5}}  </td>
   <td><input type=“text” name=“n5“ value={{user.seminar.n5}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">6</th>
                  <td><input type=“text” name=“w6“ value={{user.seminar.w6}}  </td>
     <td><input type=“text” name=“t6“ value={{user.seminar.t6}}  </td>
      <td><input type=“text” name=“y6“ value={{user.seminar.y6}}  </td>
      <td><input type=“text” name=“i6“ value={{user.seminar.i6}}  </td>
   <td><input type=“text” name=“n6“ value={{user.seminar.n6}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">7</th>
                  <td><input type=“text” name=“w7“ value={{user.seminar.w7}}  </td>
     <td><input type=“text” name=“t7“ value={{user.seminar.t7}}  </td>
      <td><input type=“text” name=“y7“ value={{user.seminar.y7}}  </td>
      <td><input type=“text” name=“i7“ value={{user.seminar.i7}}  </td>
   <td><input type=“text” name=“n7“ value={{user.seminar.n7}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">8</th>
                  <td><input type=“text” name=“w8“ value={{user.seminar.w8}}  </td>
     <td><input type=“text” name=“t8“ value={{user.seminar.t8}}  </td>
      <td><input type=“text” name=“y8“ value={{user.seminar.y8}}  </td>
      <td><input type=“text” name=“i8“ value={{user.seminar.i8}}  </td>
   <td><input type=“text” name=“n8“ value={{user.seminar.n8}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">9</th>
                  <td><input type=“text” name=“w9“ value={{user.seminar.w9}}  </td>
     <td><input type=“text” name=“t9“ value={{user.seminar.t9}}  </td>
      <td><input type=“text” name=“y9“ value={{user.seminar.y9}}  </td>
      <td><input type=“text” name=“i9“ value={{user.seminar.i9}}  </td>
   <td><input type=“text” name=“n9“ value={{user.seminar.n9}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">10</th>
                  <td><input type=“text” name=“w10“ value={{user.seminar.w10}}  </td>
     <td><input type=“text” name=“t10“ value={{user.seminar.t10}}  </td>
      <td><input type=“text” name=“y10“ value={{user.seminar.y10}}  </td>
      <td><input type=“text” name=“i10“ value={{user.seminar.i10}}  </td>
   <td><input type=“text” name=“n10“ value={{user.seminar.n10}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">11</th>
                  <td><input type=“text” name=“w11“ value={{user.seminar.w11}}  </td>
     <td><input type=“text” name=“t11“ value={{user.seminar.t11}}  </td>
      <td><input type=“text” name=“y11“ value={{user.seminar.y11}}  </td>
      <td><input type=“text” name=“i11“ value={{user.seminar.i11}}  </td>
   <td><input type=“text” name=“n11“ value={{user.seminar.n11}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">12</th>
                  <td><input type=“text” name=“w12“ value={{user.seminar.w12}}  </td>
     <td><input type=“text” name=“t12“ value={{user.seminar.t12}}  </td>
      <td><input type=“text” name=“y12“ value={{user.seminar.y12}}  </td>
      <td><input type=“text” name=“i12“ value={{user.seminar.i12}}  </td>
   <td><input type=“text” name=“n12“ value={{user.seminar.n12}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">13</th>
                  <td><input type=“text” name=“w13“ value={{user.seminar.w13}}  </td>
     <td><input type=“text” name=“t13“ value={{user.seminar.t13}}  </td>
      <td><input type=“text” name=“y13“ value={{user.seminar.y13}}  </td>
      <td><input type=“text” name=“i13“ value={{user.seminar.i13}}  </td>
   <td><input type=“text” name=“n13“ value={{user.seminar.n13}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">14</th>
                  <td><input type=“text” name=“w14“ value={{user.seminar.w14}}  </td>
     <td><input type=“text” name=“t14“ value={{user.seminar.t14}}  </td>
      <td><input type=“text” name=“y14“ value={{user.seminar.y14}}  </td>
      <td><input type=“text” name=“i14“ value={{user.seminar.i14}}  </td>
   <td><input type=“text” name=“n14“ value={{user.seminar.n14}}  </td>
              </tr>
<tr>

<tr>
   <th scope="row">15</th>
                  <td><input type=“text” name=“w15“ value={{user.seminar.w15}}  </td>
     <td><input type=“text” name=“t15“ value={{user.seminar.t15}}  </td>
      <td><input type=“text” name=“y15“ value={{user.seminar.y15}}  </td>
      <td><input type=“text” name=“i15“ value={{user.seminar.i15}}  </td>
   <td><input type=“text” name=“n15“ value={{user.seminar.n15}}  </td>
              </tr>
<tr>


	</tbody>
			  </table>
				</div>
				<div class="admin-home-logout">
					<button type="button" class="btn btn-outline-info logout-btn" onclick="window.location.href='{%url 'seminarupdate' %}';">Update</button>
				</div><br>